.fav-pagination {
    padding: 20px 0;
}

.fav-pagination>.page-numbers {
    padding: 0.6rem 1rem;
    margin: 0 4px;
    background-color: #ededed;
    color: #6b6985;
    border-radius: 0.2rem;
}

.fav-pagination>.page-numbers:hover {
    background-color: #1e1e20;
    color: white;
}

.fav-pagination>.current {
    background-color: #1e1e20;
    color: white;
    font-weight: bold;
}

:is(.dark .page-numbers) {
    background-color: #252529;
}

:is(.dark .current) {
    background-color: #1e1e20;
}

/* 宽高比例 */
.ratio {
    position: relative;
    width: 100%
}

.ratio::before {
    display: block;
    padding-top: var(--ca-aspect-ratio);
    content: ""
}

.ratio>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ratio-1x1 {
    --ca-aspect-ratio: 100%
}

.ratio-2x3 {
    --ca-aspect-ratio: 150%
}

.ratio-3x2 {
    --ca-aspect-ratio: 66.6666666667%
}

.ratio-3x4 {
    --ca-aspect-ratio: 133.3333333333%
}

.ratio-4x3 {
    --ca-aspect-ratio: 75%
}

.ratio-16x9 {
    --ca-aspect-ratio: 56.25%
}

.ratio-21x9 {
    --ca-aspect-ratio: 42.8571428571%
}

/* 颜色 */
.bg-danger {
    --tw-bg-opacity: 0.2;
    background-color: rgb(214 41 62 / var(--tw-bg-opacity));
}

.bg-\[\#f7c32e\] {
    --tw-bg-opacity: 0.2;
    background-color: rgb(247 195 46 / var(--tw-bg-opacity));
}

.bg-warning {
    --tw-bg-opacity: 0.5;
    background-color: rgb(253 243 213 / var(--tw-bg-opacity));
}

.text-warning {
    --tw-text-opacity: 1;
    color: rgb(247 195 46 / var(--tw-text-opacity));
}

.text-primary {
    --tw-text-opacity: 1;
    color: rgb(87 13 248 / var(--tw-text-opacity));
}

.text-success {
    --tw-text-opacity: 1;
    color: rgb(54 211 153 / var(--tw-text-opacity));
}

.text-secondary {
    --tw-text-opacity: 0.7;
    color: rgb(89 93 105 / var(--tw-text-opacity));
}

.bg-secondary {
    --tw-bg-opacity: 0.5;
    background-color: rgb(89 93 105 / var(--tw-bg-opacity));
}
.bg-error{
    --tw-bg-opacity: 0.5;
    background-color: rgb(234 67 53 / var(--tw-bg-opacity));
}
.text-error{
    --tw-text-opacity: 1;
    color: rgb(234 67 53 / var(--tw-text-opacity));
}

/* 评论部分 */
#comments .comment-respond {
    position: relative;
}

#comments .comment-reply-title {
    display: inline-block;
    margin: 0;
    font-size: 0.875rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 0.5rem;
    background-color: rgba(214, 41, 62, .1);
    border-radius: 0.3rem;
    line-height: 1;
}

#comments .comment-reply-title #cancel-comment-reply-link {
    margin-left: 0.5rem;
    font-size: 0.875rem;
    text-decoration: underline
}

#comments .comment-form {
    display: block;
    position: relative;
    margin-top: 1rem;
    clear: both;
    content: "";
}

#comments .comment-form .comment-notes {
    font-size: 0.875rem;
    color: #595d69;
    margin-bottom: 0.5rem;
}

#comments .comment-form .comment-form-author,
#comments .comment-form .comment-form-email,
#comments .comment-form .comment-form-url {
    width: calc(33.3333% - 10px);
    float: left;
    margin: 0 5px;
}

#comments .comment-form .comment-form-author {
    margin-right: 10px;
    margin-left: 0;
}

#comments .comment-form .comment-form-url {
    margin-right: 0;
    margin-left: 10px;
}

#comments .form-submit {
    padding: 0;
    text-align: right;
    margin: 0;
}

#comments .form-submit input[type=submit] {
    background-color: #191a1f;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#comments .form-submit input[type=submit]:hover {
    background-color: rgba(25, 26, 31, 0.75);
}

#comments .form-submit input[type=submit]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#comments .comments-list li,
#comments .comments-list ul {
    margin: 0;
    list-style: none;
}

#comments .comments-list>li+li {
    border-top: 1px solid rgba(89, 93, 105, .1);
}

#comments .comments-list .comment {
    padding: 1rem 0;
}

#comments .comments-list .comment .comment-author img.avatar {
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0.125rem 1rem rgba(89, 93, 105, .075);
    box-shadow: 0 0.125rem 1rem rgba(89, 93, 105, .075);
}

#comments .comments-list .comment .comment-inner {
    display: flex;
}

#comments .comments-list .comment .comment-meta {
    color: #a1a1a8;
    font-size: 0.875rem;
}

#comments .comments-list .comment .comment-meta span {
    margin-right: 5px;
    font-size: 12px;
}

#comments .comments-list .comment .comment-body {
    width: 100%;
    margin-left: 15px;
}

#comments .comments-list .comment .comment-body .nickname {
    margin-bottom: 0.5rem;
}

#comments .comments-list .comment .comment-body .nickname span {
    margin-left: 6px;
    font-size: 12px;
}

#comments .comments-list .comment .comment-content {
    margin-bottom: 0;
}

#comments .comments-list .comment .comment-reply-link {
    color: #a1a1a8;
    display: inline-block;
    text-decoration: underline;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#comments .comments-list .comment .comment-reply-link:hover {
    color: #333;
}

#comments .comments-list .comment .children {
    margin-left: 3rem;
    background-color: rgba(161, 161, 168, .1);
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin-top: 1rem;
}

#comments .comments-list .comment .children li {
    padding: 0;
}

#comments .comments-list .comment .children li+li {
    margin-top: 1rem;
}

#comments .comments-list .comment .children .children {
    margin-left: 0;
}

#comments .comments-nav {
    padding: 20px 0;
}

#comments .comments-nav .page-numbers {
    padding: 0.6rem 1rem;
    margin: 0 4px;
    background-color: #ededed;
    color: #6b6985;
    border-radius: 0.2rem;
}

#comments .comments-nav .page-numbers:hover {
    background-color: #1e1e20;
    color: white;
}

#comments .comments-nav .current {
    background-color: #1e1e20;
    color: white;
    font-weight: bold;
}

/* 面包屑 */
.breadcrumb {
    align-items: center;
    display: flex;
}

.breadcrumb>li {
    margin-right: 0.3rem;
    list-style: none;
}

.breadcrumb>li:not(:last-child)::after {
    transform: translate(0.6rem, 0);
    content: "/";
}

/* 我的余额-充值 */
.coin-pay-card.active,
.coin-pay-card:hover {
    border: 1px solid #ffc107;
    background: unset
}

/* 视频组件 */
.wp-video-shortcode{
    overflow: hidden;
}
/* 弹窗组件 */
.supports-drag-drop button .screen-reader-text{
    display: none !important;
}
.supports-drag-drop .media-toolbar .screen-reader-text{
    display: none !important;
}
.supports-drag-drop .media-modal-content .screen-reader-text{
    display: none !important;
}

/* sweetalert2 */
.swal2-html-container {
    margin: 0 !important;
}
.swal2-popup {
    padding-bottom: 0 !important;
}

/* 导航 */
.navbar .nav-list {
    white-space: nowrap
}

.navbar .nav-list a {
    color: #4d4d4d;
}

.navbar .nav-list a:hover {
    color: rgba(77, 77, 77, .85);
}

.navbar .nav-list .menu-item {
    display: inline-block;
    position: relative;
}

.navbar .nav-list .menu-item>a {
    display: block;
}

.navbar .nav-list .menu-item>a .emoji {
    margin-left: 0 !important;
    margin-right: 5px !important
}

.navbar .nav-list .menu-item.menu-item-has-children>a:after {
    content: "+";
    font-weight: 600;
    margin-left: 4px;
}

.navbar .nav-list .menu-item:hover>.sub-menu {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, 0) scale(1);
    visibility: visible;
    transition: all .25s ease-in-out;
}

.navbar .nav-list>.menu-item>a {
    font-size: 1rem;
    line-height: 61px;
    margin: 0 10px;
}

.navbar .nav-list>.menu-item.current-menu-item>a {
    color: #2163e8;
}

.navbar .nav-list .sub-menu {
    position: absolute;
    left: 50%;
    top: 100%;
    opacity: 0;
    transform: translate(-50%, -10px) scale(.97);
    list-style-type: none;
    visibility: hidden;
    width: auto;
    padding: .5rem;
    margin: -1px 0 0 0;
    border-radius: .3rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, .07);
    background-color: #fff;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    z-index: 80;
}

.navbar .nav-list .sub-menu:before {
    content: "";
    position: absolute;
    top: -19px;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #fff
}

.navbar .nav-list .sub-menu .menu-item {
    display: block;
    padding: 0
}

.navbar .nav-list .sub-menu .menu-item>a {
    font-size: initial;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    padding: 10px 20px;
}

.navbar .nav-list .sub-menu .menu-item>a:hover {
    opacity: 1
}

.navbar .nav-list .sub-menu .menu-item.menu-item-has-children>a {
    justify-content: space-between
}

.navbar .nav-list .sub-menu .menu-item.menu-item-has-children>a:after {
    content: "+";
    line-height: 1;
    margin-right: -4px
}

.navbar .nav-list .sub-menu .sub-menu {
    left: 100%;
    top: 0;
    margin: 0;
    transform: translate(0, 0) scale(1) !important
}

.navbar .nav-list .sub-menu .sub-menu:before {
    display: none
}

/* 侧边栏导航 */
.sidebar-main-menu  {
    position: relative;
}

.sidebar-main-menu li,
.sidebar-main-menu ul {
    list-style: none;
    list-style-type: none;
}

.sidebar-main-menu  .nav-list {
    padding: 10px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex !important;
    flex-wrap: wrap
}

.sidebar-main-menu  .nav-list li.menu-item-has-children {
    flex: 0 0 100%;
    max-width: 100%
}
.sidebar-main-menu  .nav-list li .menu-item-has-children>a:after {
    content: "+";
    font-weight: 600;
    margin-left: 4px
}
.sidebar-main-menu  .nav-list li.current-menu-item a {
    color: #007bff
}

.sidebar-main-menu  .nav-list>li {
    width: 100%;
    padding: .25rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-main-menu  .nav-list .menu-item>a {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    outline: 0;
    padding: 12px 15px;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #f7f7f7;
}

.sidebar-main-menu  .nav-list .menu-item>a>i {
    margin-left: 0 !important;
    margin-right: 5px !important;
}

.sidebar-main-menu  .nav-list .menu-item>a .menu-item-has-children a {
    margin-left: 10px;
    outline: 0;
}

.sidebar-main-menu  .nav-list .menu-item>a .menu-item-has-children a i {
    margin-left: 0 !important;
    margin-right: 5px !important;
}

.sidebar-main-menu  .nav-list .sub-menu {
    border-radius: 0 0 2px 2px;
    overflow: hidden;
    background: #eaeaea;
    padding: 5px;
    position: relative;
}

.sidebar-main-menu  .nav-list .sub-menu>li {
    width: 100%;
    float: none;
}

.sidebar-main-menu  .nav-list .sub-menu>li>a {
    border: none;
    border-radius: 0;
    line-height: 1;
    background: #f7f7f7;
    margin: 10px 5px;
    border-radius: 4px;
    padding: 10px 5px;
}

.sidebar-main-menu  .nav-list .sub-menu .sub-menu {
    width: 100%;
}

.sidebar-main-menu  .nav-list .sub-menu .sub-menu li {
    width: 100%;
    float: none;
}

.sidebar-main-menu  .nav-list hr {
    padding: 0;
    margin: 0;
}

.sidebar-main-menu  .nav-list .nav_arrow {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
}

