.vip_badge.no{
  background: rgb(203 203 203 / 50%);
  color: #607D8B;
}
.vip_badge.vip{
  background: rgb(119 219 123 / 50%);
  color: #4CAF50;
  display: flex;
  width: fit-content;
  align-items: center;
  border-radius: 4px;
}

.vip_badge.boosvip{
  background: rgb(255 235 59 / 50%);
  color: #FF5722;
  display: flex;
  width: fit-content;
  align-items: center;
  border-radius: 4px;
}
.vip_badge.vip::before,
.vip_badge.boosvip::before{
  content: '\f197';
  font-family: dashicons;
  font-size: 20px;
  display: block;
}

.postbox {
  margin-bottom: 0 !important;
}

.pay_status_1 {
  color: #4CAF50;
  background-color: rgb(119 219 123 / 50%);
}

.widget-list li{
  margin-bottom: 0;
}
.widget-list li .meta-box-sortables{
  display: grid;
  gap: 1rem;
}
.widget-list{
  display: grid;
  gap: 1rem;
}
.widget-list-b{
  display: grid;
  gap: 1rem;
}

@media (min-width:768px){
  .widget-list{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .widget-list-b{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width:1280px){
  .widget-list{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width:1600px){
  .widget-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.widget-list .tj_icon{
  margin-left: 1rem;
}
.widget-list .tj_title{
  font-size: 1rem;
  margin-right: 1rem;
}
.widget-list .postbox{
  border: none;
}
.widget-list .postbox-header{
  border-bottom: 1px solid #e5e5e5;
}
.widget-list .inside{
  margin: 0;
  padding: 1rem;
}
.widget-list-b .postbox{
  border: none;
}
.widget-list-b .postbox-header{
  border-bottom: 1px solid #e5e5e5;
}
.widget-list-b .inside{
  margin: 0;
  padding: 1rem;
}
.widget-list-b .tj_title_b{
  font-size: 1rem;
  margin-left: 1rem;
}
.tj_data_a{text-align: center;}
.tj_data_b{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}
.tj_data_b h4{
  margin: 1rem 0 0 0;
}
.tj_data_b .tj_data_span{
  color: #999;
}
.tj_data_a .tj_data_p1{
  color: #FF5722;
  font-size: 1.5rem;
  margin:0;
  font-weight: bold;
}
.tj_data_a .tj_data_p2{
  color: #10c650;
  font-size: 1.5rem;
  margin:0;
  font-weight: bold;
}
.tj_data_a .tj_data_p3{
  color: #ff226c;
  font-size: 1.5rem;
  margin:0;
  font-weight: bold;
}
.tj_data_a .tj_data_p4{
  color: #1981e1;
  font-size: 1.5rem;
  margin:0;
  font-weight: bold;
}
.tj_data_a .tj_data_pt{
  margin: 0 0 1rem 0;
}


/* 排行 */
.ranking_list ul{
  display: grid;
  gap: 0.5rem;
}
.ranking_list ul li span{
  display: block;
}
.ranking_list ul li{
  display: grid;
  gap: 0.8rem;
  grid-template-columns: auto auto repeat(1, 50% 1fr);
  flex: auto;
  justify-content: center;
  align-items: center;

}
.ranking_list .numA_s{
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 4px;
  background: #e5e5e5;
}
.ranking_list .imgB_s img{
  height: 2rem;
  width: 2rem;
  display: block;
  border-radius: 100%;
}

.download_list ul li{
  display: grid;
  gap: 0.8rem;
  grid-template-columns: auto repeat(1, 70% 1fr);
  flex: auto;
  justify-content: center;
  align-items: center;
}
.download_list ul li span{
  display: block;
}
.download_list ul li .d_numA{
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 4px;
  background: #e5e5e5;
}

/* 全站销量排行 */
.sales_ranking .item {
  display: flex;
  align-items: center;
  color: rgb(107 114 128);
  margin-bottom: 4px;
}

.sales_ranking .item>a {
  text-decoration: none;
  color: rgb(107 114 128);
}

.sales_ranking .item>a:hover {
  text-decoration: underline;
  color: #1981e1;
}


.sales_ranking .title {
  background-color: rgb(229 231 235);
  padding: 1px 6px;
  border-radius: 2px;
  margin-right: 8px;
}
